<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <title>fitnesss club</title>
     <link rel="Stylesheet"  href="css/main.header.css"/>
     <link rel="Stylesheet"  href="css/main.css"/> 

     <style>
    *{
        margin: 0%;
        padding: 0%;
    }
    html{
        scroll-behavior: smooth;
    }
    
        body{
            
        background-image: url("barbell-1839086_1920.jpg");
            height:60% ;
            position: relative;
            background-size:100%;
            background-color: rgba(0, 0, 0, 0.889);
            background-repeat: no-repeat;
            
        }
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Baloo Bhai', cursive; 
    position: fixed;
    background-color:rgba(3, 52, 76, 0.656) ;
    width: 100%;
    padding: 10px;
    

}

.navbar::before{
    content: "";
    /* background-color: black;*/
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}




/* Navigation Bar: List Styling */

.navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

.navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
       
        
.navbar li a:hover{
            background-color: rgb(5, 100, 122);
            border-radius: 425px;
             color:white;}


        
.navbar::before{
position: absolute;
    
}

        #HOME{
            display: flex;
            margin-top: 25%;
            width: 100%;
            height: 30%;
        }
        .h1{
        
            color:white;
            font-size: 50px;
        }
        legend{
            color: rgb(177, 173, 173);
            font-size: 30px;
        }
      .BUTT{
        background-color: rgba(9, 144, 171, 0.823);
       /* border: 2px solid white;*/
        color: blanchedalmond;
        border-radius: 10px;
        padding: 15px;
        text-decoration: none;
        font-size: 20px;
       
        margin: 25px;
        
      }
         #ABOUT{
            background-color: rgba(18, 17, 17, 0.815);
            color: blanchedalmond;
            margin-top: 25.4%;
            height: 100%;
            
         } 
         .img{ border-radius: 50%;
                width: 300px;
                height: 300px;
                margin: 1%;} 
         p{
            font-size:xx-large;
            
         } 
         summary{
            font-size: large;
         }
         #GALLARY{
            background-color: rgba(0, 0, 0, 0.815);
         }
          #GALLARY img{
               width:49.5%;
               
         } 
         
         #CONTECT{
            background-color: rgba(27, 27, 27, 0.749);
         }
        .container {
        font-family: 'Baloo Bhai', cursive;
        border: 5px solid rgb(6, 105, 99);
        margin-left: 28% ;
        
        padding: 75px;
        width: 30%;
        height:40%;
        color: rgba(243, 241, 245, 0.961);
        background-color: white;
        border-radius: 28px;
    }

    .form-group input {
        font-family: 'Baloo Bhai', cursive;
        text-align: center;
        display: block;
        padding: 1px;
        padding-left: 0px;
        border: 2px solid black;
        margin: 6px ;
        width:100% ;
        font-size: 90%;
        border-radius: 8px;
    }

     h1 {
        text-align: center;
        color: rgb(16, 15, 15);
     }

    .container button {
        background-color: rgb(4, 80, 135);
        display: block;
        width: 38%;
        margin: 20px auto;
        border-radius: 20px;
        padding: 10px;
        align-items: center;

    }

    .container button:hover{
        background-color: rgb(12, 181, 181);
        border-color: black;
    }
   
    #footer{
            background-color:rgba(3, 52, 76, 0.656) ;
       /* background-image: url("barbell-1839086_1920.jpg");*/
        text-align: center;
        margin-top: auto;
        color: white;

    }

    </style>    
            
</head>
      
<body> <header>
       
        <div class="navbar">
            
           
          <ul class="drodown menu">
            <li><a href="#HOME">HOME</a></li>
            <li><a href="#ABOUT">ABOUT</a></li>
            <li><a href="#GALLARY">FITNESS</a></li>
            <li><a href="#CONTECT">CONTECT</a></li>
          </ul> 
          
          
        </div>
    
          
        
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id ="HOME">
       
        <div class="home1">
            <u class="h1">FITNESS CENTER GYM PRO SERVICE IN BHOPAL</u>
            <br>
            <legend>individual & Group Training</legend>
            <br>
            <br>
            <a href="#CONTECT" class="BUTT">CONTECT  </a>
            <br>
            
        </div>
        <br>
        
    </div>
    
        <div id="ABOUT">
           <p>ABOUT US</p>
           <BR>
           <BR>
           <summary font-size="large"><h2>Professional Trainers</h2>
           <br>
           we are a friendly team of proessionals,winners of international bodybuilding competitions, 
           with an individual approach to each client </summary>
           <BR>
           <BR>
           <details>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Molestias dignissimos magnam sequi error nesciunt eum provident
             iste vitae quae explicabo accusamus aut ducimus officiis 
              adipisci, optio non doloribus. Dolores!</details>
       <br>
       <img src="th (1).jpg "class="img"/>
       <img src="th (2).jpg"class="img"/>
       <img src="th (3).jpg"class="img"/>
       <img src="istockphoto-531326798-612x612.jpg"class="img"/>
      <div id="GALLARY">
        <p>GALLARY</p>
        {{>Static}}

        </div>  
         <br>
          <br>   
      <div id="CONTECT">
        <p>CONTECT </p>
     <div class="container">
         <h1>Join the best gym of bhopal now</h1> 
        <form action="/ragister" method="POST">
            <div class="form-group">
                <input type="text" name="name" placeholder="Enter your Name">
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="Enter your Age">
            </div>
            <div class="form-group">
                <input type="text" name="gender" placeholder="Enter your Gender">
            </div>
            <div class="form-group">
                <input type="text" name="city" placeholder="Enter your Locality">
            </div>
              <div class="form-group">
                <input type="email" name="Email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <input type="number" name="number" placeholder="Enter your Phone Number">
            </div>
         <div class="form-group">
                <input type="number" name="cnumber" placeholder="Enter your correct Phone Number">
            </div>     

            <button type="submit" value="Ragister">Ragister</button>
        </form>
    </div>
      </div>
      <br>
       <br>
<div id="footer">
   <footer>
       <h1>COPYRIGHT @ 2018 MAHI TECHNOLOGIES</h1>
       <v>ALL RIGHT  RESERVED</v><br><br>
       <v>DEVLOPE & MAINTAINED BY MAHENDRA THAKUR</v>
    </footer>
</div>
</body>
</html>
