<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="istockphoto-500886685-612x612.jpg" alt="randam"class="s1"/>

<img src="istockphoto-1183038884-612x612.jpg" alt="randam"class="s1"/>
<img src="wp2483045.jpg" alt="randam"class="s1"/>
<img src="istockphoto-1279902517-612x612.jpg" alt="randam"class="s1"/>
<img src="training-828760_1280.jpg" alt="randam"class="s1"/>
<img src="istockphoto-513434122-612x612.jpg" alt="randam"class="s1"/>
</body>
</html>